* {
    margin: 0;
    padding: 0;
}

p {
    color: #626263;
}

/* Buttons mobile nav */
.openBtn,
.closeBtn {
    position: fixed;
    border: none;
    top: 0rem;
    left: 0.4rem;
    background-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1;
}

.closeBtn {
    font-size: 3rem;
    color: white;
}

/* Mobile navigation Links */
.mobNav {
    background-color: black;
    height: 0vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    transition: 500ms ease-in-out;
    position: fixed;
}

.mobNav a {
    margin: 1rem;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.openeMobNav {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms ease-in-out;
}

section {
    min-height: 100vh;
}

.hidden {
    display: none;
}

.content-section {
    height: 100%;
    background: url('./img/10.png') center center no-repeat;
    text-align: center;
    align-content: center;
}

.header-text h1 {
    font-size: 4rem;
    color: white;
}

.header-text p {
    font-size: 1.7rem;
    color: white;
}

.header-text button,
.about-text button,
.company-block button,
.text-tour button,
.contact button {
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.header-text button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    transition: 500ms ease-in-out;
}


/* Top Button */
.top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    text-decoration: none;
    color: white;
    background-color: rgba(128, 128, 128, 0.555);
    padding: 0.7rem 1rem;
    border-radius: 50%;
}



/* About section */
.about-text {
    height: 100%;
    align-content: center;
    padding: 3rem 0.5rem 0 0.5rem;
}

.about img {
    width: 100%;
}

.photos-text {
    margin: 0 0.4rem;
}

.about-text span,
.next-tour span {
    color: #c4c4c4;
}

.about-text h2 {
    text-align: center;
}

.photos-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: auto;
}

.photos-wrap img {
    width: 9rem;
    margin: 0.1rem;
}



.travel {
    padding: 3rem 0.5rem 1rem 0.5rem;
}

.travel h2,
h3,
.next-tour h2,
.contact h2,
.contact p {
    text-align: center;
    margin: 1rem 0 0.2rem 0;
}

.company-block img {
    width: 100%;
    margin: 0.2rem;
}

.about-text button,
.company-block button,
.contact button {
    border: 1px solid #000000;
    color: #000000;
    background-color: #ffffff;
}

.about-text button:hover,
.company-block button:hover,
.contact button:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: 500ms ease-in-out;
}




.next-tour {
    padding: 0 0.5rem;
}

.text-tour img {
    width: 100%;
}




.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: #f4f4f4;
}

.contact form {
    text-align: center;
}

.contact form input {
    margin: 0.5rem;
    padding: 1rem;
}


footer {
    text-align: center;
    padding: 1rem 0 1rem 0;
}

footer nav a {
    text-decoration: none;
    color: black;
    padding: 0.2rem 0.5rem;
}

footer nav a:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 500ms ease-in-out;
}

/* Responsive */
@media only screen and (min-width: 400px) {
    section {
        background-color: red;
        padding: 0 0.5rem;
    }
    .photos-wrap img {
        width: 7rem;
        margin: 0.1rem;
    }

    .header-text button,
    .about-text button,
    .company-block button,
    .text-tour button,
    .contact button {
        padding: 0.7rem 2rem;
        margin: 1rem;
    }
}


@media only screen and (min-width: 456px) {
    .photos-wrap img {
        width: 8rem;
        margin: 0.1rem;
    }
    .contact button {
        padding: 0.5rem 2rem;
        width: 20rem;
    }
}


@media only screen and (min-width: 655px) {
    .photos-wrap img {
        width: 10rem;
    }
}



@media only screen and (min-width: 700px) {
    .photos-wrap img {
        width: 13rem;
    }
    .contact form input {
        width: 100%;
    }
}